
.MuiFormLabel-root {
    font-family: 'RobotoCondensedR' !important;
}
.MuiListSubheader-root {
    font-family: 'RobotoCondensedB' !important;
}

.makeStyles-root-154 {
    max-width: 100% !important;
}
.MuiList-padding {
  padding: 0 !important;
}
.chat-form {
  padding: 0;
  margin: 0;
}
.chat-outer-outer {
  height: 100%;
  margin-bottom: 40px;
}
/* .chat-outerContainer {
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: flex-start;
    justify-content: space-between;
   
  } */
  
  .chat-container {
    box-shadow: 10px 14px 30px 10px rgba(34, 35, 58, 0.2);
    height: 100%;
    
  }
  
  .input {
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    width: 100%;
    font-size: 1.2em;
    height: 90px;
    -ms-grid-row:auto ;
    resize: none;
    /* bottom: 90px; */
    position: relative;
    /* margin-left: -1px; */
    /* margin-bottom: 2px; */
    font-family: 'RobotoCondensedR' !important;
    flex-grow: 2;
    background-color: #f8faf1de;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  /* .fixed-input {
    padding: 0;
    margin: 0;
  } */
 
  .messages {
    /* padding: 5% 0; */
    overflow: auto;
    flex: auto;
  }
  .messageText {
    letter-spacing: 0;
    font-size: 1.1em;
    /* word-wrap: break-word; */
    padding:0 20px 0 20px;
    width: 60%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }
  .MuiListItemText-root {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all !important;
    word-break: break-word !important;
    hyphens: auto !important;
  }
  .chat-name {
      width: 20%;
  }
  .chat-time {
    width: 20%;
    white-space: nowrap;
  }
  /* .chat-title {
    position: relative;
    height: 83%;
    text-align: center;
    font-family: 'RobotoCondensedB';
    flex-grow: 1;
    padding-top:10px;
  } */

.MuiDivider-inset {
    margin-left: 0 !important;
}
.all-messages {
  position: relative;
  /* padding-bottom: 10px; */

}
.pastchats-container {
  position: relative;
  padding-top: 20px;
  /* align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end; */
  /* padding-left: 50%; */
  text-align: center;
  /* padding-top:10px; */
} 
.pastchat-btn {

  padding: 20px;
  align-self: center;
}
.pastchats-title {
font-family: 'RobotoCondensedB';
text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .chat-outerContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  /* .chat-container {
    width: 80%;
    height: 70%;
  } */
  .input {
    width: 100%;
    top: 95%;
  }
  .all-messages {
   padding-bottom: 45px;
 }
 .pastchats-container {
  padding-top: 20px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
} 
}

.chat-pic {
  filter: sepia(40%);
}
.fancy-btn-text {
  font-family: 'RobotoMonoB';
}