
.MuiFormLabel-root {
    font-family: 'RobotoCondensedR' !important;
}
.MuiListSubheader-root {
    font-family: 'RobotoCondensedB' !important;
}

.makeStyles-root-154 {
    max-width: 100% !important;
}
.MuiList-padding {
  padding: 0 !important;
}

.chat-outerContainer {
    width: 90vw;
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100vh;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    height: 70%;
    width: 55%;
    overflow-x:hidden;
    overflow-y: auto;
    border: 1px solid black;
    position: absolute;
    
  }
  
  .input {
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    width: 55%;
    font-size: 1.2em;
    height: 100px;
    -ms-grid-row:auto ;
    resize: none;
    bottom: 30px;
    position: fixed;
    margin-left: -1px;
    margin-bottom: 2px;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
 
  .messages {
    /* padding: 5% 0; */
    overflow: auto;
    flex: auto;
  }
  .messageText {
    letter-spacing: 0;
    font-size: 1.1em;
    /* word-wrap: break-word; */
    padding:0 20px 0 20px;
    width: 60%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }
  .MuiListItemText-root {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all !important;
    word-break: break-word !important;
    hyphens: auto !important;
  }
  .chat-name {
      width: 20%;
  }
  .chat-time {
    width: 20%;
    white-space: nowrap;
  }
  .chat-title {
    position: relative;
    height: 90%;
  }

.MuiDivider-inset {
    margin-left: 0 !important;
}
.all-messages {
  position: relative;
  padding-bottom: 20px;

}

@media (min-width: 320px) and (max-width: 480px) {
  .chat-outerContainer {
    width: 100%;
  }
  /* .messageText {
    width: 10%;
  } */
  .chat-container {
    width: 75%;
    /* height: 90%; */
    height: 500px;
  }
  .input {
    width: 75%;
    bottom: 10px;
  }
  .all-messages {
   padding-bottom: 45px;
 }
}

@media (min-width: 480px) and (max-width: 1200px) {
  /* .chat-container {
    width: 60%;
  } */
}