.profile-home-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 150px
}
@media only screen and (max-device-width: 480px) {
    .profile-home-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
  }