.profile-home-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 150px
}
@media only screen and (max-device-width: 480px) {
    .profile-home-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
  }

  /* .MuiSnackbarContent-action {
      background-color: azure !important;
  } */

  .MuiSnackbarContent{
    background-color: azure !important;
  }
  .notify-btn {
      /* background-color: rgb(126, 126, 126) !important; */
      color: rgb(232, 194, 194) !important;
  }