.marker-green {
    display: block;
    border: none;
    background-image: url("../../Assets/images/marker3.png");
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }
  .marker-yellow {
    display: block;
    border: none;
    background-image: url("../../Assets/images/marker2.png");
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    filter: sepia(55%);
  }
  .marker-red {
    display: block;
    border: none;
    background-image: url("../../Assets/images/marker1.png");
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    filter: sepia(55%);
  }