.needstodo-container {
    flex-direction: row;
    text-align: start;
    height: 100%;
    margin: 5px;
    flex-grow: 0;
}
.needstodo-inner{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}
.needs-title {
    text-align: center;
}