/* .scoreboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column wrap;
} */
@media only screen and (max-device-width: 480px) {
    .anatylics-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 100%; */
       
    }
    .chart {
        max-width: 400px !important;
    }
    .scoreboard-container {
       padding-left: 30px;
    
    }
    .chart-container {
        padding-right:0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 94%;
    }
    /* .province-container {
        padding-left: 5%;
    } */
    .analytics-data{
        max-width: 400px !important;
    }
  }

.analytics-data{
    max-width: 1200px !important;
}

.scoreboard-inner {
    margin: 5px 2px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;

}
.chart {
    max-width: 100%;
}
.chart-container {
    padding-right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.MuiTypography-body2 {
    font-family: 'RobotoMonoL' !important;
}

h5 {
    font-family: 'RobotoCondensedR';
    padding: 20px;
}
.echart-for-react .chart {
    font-family: 'RobotoMonoL' !important;
}

.provinces {
    padding-left: 5%;
}
