.scoreboard-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
}
.scoreboard-inner {
    display: inline-flex;
    margin: 5px 2px;
}
.chart {
    width: 100%;
    /* margin:auto; */
}
/* .chart-container {
    display: flex;
    justify-content: space-evenly;
} */