/* .scoreboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column wrap;
} */
@media only screen and (max-device-width: 480px) {
    .anatylics-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .chart {
        max-width: 400px !important;
    }
  }

.scoreboard-inner {
    margin: 5px 2px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.chart {
    max-width: 100%;
}
/* .chart-container {
    padding-right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
} */

.MuiTypography-body2 {
    font-family: 'RobotoMonoL' !important;
}

h5 {
    font-family: 'RobotoCondensedR';
    padding: 20px;
}
.echart-for-react .chart {
    font-family: 'RobotoMonoL' !important;
}
