.aboutus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

h4 {
    font-family: 'RobotoMonoB' !important;
}
.btn-text {
    font-family: 'RobotoMonoB' !important;
    color: #eebea8;
}