.error {
    color: red;
    font-size: 15px;
    font-family: 'Nunito-Regular', sans-serif;
}
.inputError {
border-color: red;
font-family: 'Nunito-Regular', sans-serif;
}
.login-container {
    flex-direction: row;
    text-align: center;
    height: 100%;
    justify-content: center;
}
.login-inner{
    height: 400px;
    width: 650px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 15px 55px 45px 55px;
    border-radius: 5px;
    transition: all .3s;
}
.signup-inner{
    width: 550px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}
@media only screen and (max-device-width: 480px) {
    .login-inner{
        height: 300px;
        width: 350px;
        margin: auto;
        background: #ffffff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 15px 55px 45px 55px;
        border-radius: 5px;
        transition: all .3s;
    }
    .signup-inner{
        width:350px;
        margin: auto;
        background: #ffffff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 20px 15px 15px 25px;
        border-radius: 15px;
        transition: all .3s;
    }
    .mapboxgl-ctrl-geocoder input[type='text'] {
        font-family: 'RobotoMonoL';
    }
    #map {
         position: relative;
         margin: auto;
         overflow: hidden;
         font-family: 'RobotoMonoL';
        
     }
  }
.modal-button{
    border: none;
    background-color: #ffffff00;
    color: #4F7800;
    font-family: 'RobotoCondensedB';
}
.modal-button:hover {
    color: #C9837D;
    text-decoration: underline;
  }
#map {
   height: 200px;
    position: relative;
    margin: auto;
    overflow: hidden;
    font-family: 'RobotoMonoL';
   
}
.mapbox-ctrl-geocoder {
    font: 'RobotoMonoL' !important;
}
.mapboxgl-ctrl-geocoder--icon-search .mapboxgl-ctrl-top-right .mapboxgl-ctrl{
    right: 0 !important;
    position: right !important;
}
.mapboxgl-ctrl-geocoder input[type='text'] {
    margin-left: 20px;
    font-family: 'RobotoMonoL';
}
.title {
    font-family: 'RobotoCondensedB';
    padding-bottom: 15px;
}
.smaller-title {
    font-family: 'RobotoCondensedL';
}
.form-control {
    font-family: 'RobotoMonoL';
    user-select: all;  
}
 label {
     font-family: 'RobotoMonoB';
 }
 .btn-block {
    font-family: 'RobotoCondensedB' !important;
 }
 .covid-title-image {
     padding: 5%;
     width: 90%;
 }
 .MuiInputBase-input {
    font-family: 'RobotoMonoB';
 }