#mapbox{
    position:absolute;
    /* display: flex; */
    top:55px;
    left: 0;
    width:100%;
    bottom: 0px;
    /* padding-right:60px; */
    z-index: 0;
}
.mapboxgl-control-container{
  display: flex;
  justify-content: space-between;
}
.mapboxgl-ctrl-top-left {
  left: 64px;
}
.mapboxgl-ctrl-bottom-left{
  left: 64px;
  float: left;
}
.mapboxgl-ctrl-bottom-right{
  left: 64px;
}
/* mapbox logo */
.mapboxgl-ctrl-logo  {
  /* margin-bottom:0 !important; */
  visibility: hidden;
}
/* directions button */
/* .direction-button-container {
  margin-bottom:45px !important;
} */
/* .mapboxgl-ctrl-attrib-inner {
  padding-bottom: 100px;
} */
.mapboxgl-ctrl-top-right{
  margin-right: 10px;
  margin-top: 10px;
}

.marker1 {
    background-image: url('../../Assets/images/Basic_green_dot.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker2 {
    background-image: url('../../Assets/images/Location_dot_yellow.svg.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker3 {
    background-image: url('../../Assets/images/Basic_red_dot.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  /* .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    } */
    /* .mapbox-directions-component {
      margin-left: 10%;
      margin-right: 5%;
    } */

    .mapbox-directions-profile {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 5px;
    }

    .directions-control  {
      margin-left: 5%;
      margin-right: 5%;
    }

    .directions-btn{
      z-index: 1005;
    color: rgb(215, 215, 215);
    background-color: rgb(58, 45, 135) !important;
    border-radius: 5px;
    margin-left: 47px;
    width: 42px;
    height: 42px;
  
    }

  .popup {
  width: 160px;
  background-image: linear-gradient(to bottom, rgba(80, 80, 1, 0.598), rgb(46, 48, 0));
  /* background-color: rgb(32, 46, 9) !important; */
  color: #fff;
  text-align: left;
  padding:10px;
  border-radius: 3px;
  -webkit-animation: fadeIn 1s !important;
  animation: fadeIn 1s !important;
}
.mapboxgl-popup-tip {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.mapboxgl-popup-content{
  padding: 1px 1px 1px !important;
}
.mapboxgl-popup-content .popup-description {
  font-family: 'RobotoCondensedR';
}
.popuptitle {
  padding-top: 10px;
  font-family: 'RobotoMonoB';
  padding-bottom: 0 !important;
}
.title {
  /* padding-top: 14px; */
  padding-bottom: 0 !important;
  font-size: large;
}
/* .mapboxpopup-btn {
  top: 0;
} */
.popup-description {
  font-family: 'RobotoMonoL';
}
.popup-profile {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.mapboxgl-user-location-accuracy-circle {
  background-color: rgba(91, 142, 133, 0.413) ;
  width: 192px !important;
  height: 192px !important;
}
.mapboxgl-user-location-dot, .mapboxgl-user-location-dot:before {
  background-color: rgb(70, 150, 125);
}
.button-image-profile {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.button-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
