.hi{
    color:rgb(39, 37, 37);
}

.toggle-avatar-name{
    font-size: 13px;
    color:rgb(63, 26, 26);
    font-family: 'RobotoMonoL';
    margin-top:10px;
    margin-bottom: 0;
}

.toggle-avatar-title{
    font-size: 10px;
    color:rgb(89, 31, 31);
    font-family:'RobotoMonoL';
    margin-bottom: 0;
    letter-spacing: 0;
    word-wrap: break-word;
}

.dashboard-image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: sepia(60%);
}
.typography-title {
    font-family: 'RobotoCondensedB' !important;
}
/* .list-text {
    font-family: 'RobotoCondensedB' !important;
} */
.MuiTypography-body1  {
    font-family: 'RobotoCondensedR' !important;
    color:rgb(89, 31, 31);
}
/* .MuiToolbar-regular {
    background-color: rgb(26, 28, 3);;
} */
.MuiTypography-h6 {
    font-family: 'RobotoMonoB' !important;
    color:rgb(205, 173, 173);
}
.profile-pic-small {
    filter: sepia(30%);
} 
.new-message {
    color: rgb(140, 43, 43) !important;
    -webkit-animation: fadeinAnimation 2s;
    -moz-animation: fadeinAnimation 2s;
    -o-animation: fadeinAnimation 2s;
     animation: blink 1s infinite;
}

@keyframes blink {
	0% {opacity: 0.6}
	49%{opacity: 0.85}
	50% {opacity: 1}
}

/* .fadein {
    -webkit-animation: fadeinAnimation 2s;
     -moz-animation: fadeinAnimation 2s;
     -o-animation: fadeinAnimation 2s;
      animation: blink 2s;
  } */

/* blink{
    animation: blink 1s infinite;
} */